:root {
  // This is set up in an HSL format.
  // The first digit is the HUE, or color
  // The second digit is the Saturation, or how much color is in the color
  // The third digit is the Lightness, or how light or dark the color is

  // Neutrals
  --color-background: 0 0% 99%; // #FCFCFC
  --color-secondary-background: 0 0% 94%; // #F0F0F0
  --color-text: 240 2% 12%; // #1d1d1e

  // Link Colors
  --color-link-primary: 263 80% 35%; // #4912A1
  --color-link-highlight: 225 56% 46%; // #3E33B8
  --color-link-active: 235 73% 22%; // #0f1661

  // Highlight Colors
  --color-highlight-primary: 273 100% 47%; // #00c6f2
  --color-highlight-highlight: 255 100% 53%; // #320eff
  --color-highlight-active: 346 100% 48%; //#f40039

  // Gradient

  --gradient-primary: linear-gradient(
    45deg,
    hsl(var(--color-link-highlight)),
    hsl(var(--color-link-primary))
  );

  --gradient-hover: linear-gradient(
    -45deg,
    hsl(var(--color-link-highlight)),
    hsl(var(--color-link-primary))
  );
}

[data-theme='dark'] {
  --color-background: 240 3% 17%; // #2b2b2e
  --color-secondary-background: 240 3% 12%; // #1d1d1f
  --color-text: 0 5% 96%; // #f5f4f4

  --color-link-primary: 263 89% 83%; // #96d6ee
  --color-link-highlight: 225 76% 79%; // #f8c5d3
  --color-link-active: 234 76% 87%; // #c5caf7
}
