:root {
  // One-offs

  --header-height: 5em;

  // Gap

  --gap-small: 2rem;
  --gap-medium: 4rem;
  --gap-large: 6rem;

  // Padding

  --padding-small-rectangle: 1.5rem 2rem;

  // Spacing

  --spacing-extra-small: 1rem;
  --spacing-small: 2rem;
  --spacing-medium: 4rem;
  --spacing-large: 6rem;
}
