@use '../../../styles/mixins' as *;

.backToTop {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 6.5rem;
  height: 6.5rem;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 10;
  font-weight: 600;
  transition: var(--transition-main);
  visibility: hidden;
  stroke: hsl(var(--color-link-primary));

  @include respond(laptop) {
    height: 8rem;
    width: 8rem;
  }

  &:hover,
  &:focus {
    stroke: hsl(var(--color-link-highlight));
  }

  & svg {
    width: 5rem;
    height: 5rem;
   fill: hsl(var(--color-background));

    & g {
      stroke: inherit;
    }
  }

}

.isShown {
  visibility: visible;
  transform: translateY(0);

  &:hover,
  &:focus {
    opacity: 1;
  }
}
