*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth scroll;
}

a,
a:visited,
a:active,
a:link {
  text-decoration: none;
  font-family: var(--ff-body);
}

a {
  color: hsl(var(--color-link-primary));

  &:hover,
  &:focus {
    color: hsl(var(--color-link-highlight));
  }

  &:active {
    color: hsl(var(--color-link-active));
  }
}

ul,
li,
ol {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
}

body {
  background-color: hsl(var(--color-background));
  font-family: var(--font-body);
  font-size: var(--fs-400);
  color: hsl(var(--color-text));
  line-height: 150%;
  overflow-x: hidden;
  transition: all var(--transition-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

}

.no-scroll {
  overflow: hidden;
}
